# Exploring Book Ratings and Prices via Web Scraping

In [1]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [22]:
url = "http://books.toscrape.com/"

In [23]:
response = requests.get("http://books.toscrape.com/")

In [24]:
print(response.status_code)

200

In [25]:
if response.status_code == 200:
    soup = BeautifulSoup(response.text, "html.parser")

In [26]:
books = soup.find_all("article", class_="product_pod")

In [48]:
for book in books[:20]:
        title = book.h3.a["title"]
        price = book.find("p", class_="price_color").text
        rating = book.p["class"][1]  # e.g. "Three"
        print(f"Title: {title} | Price: {price} | Rating: {rating}")
else:
    print("Failed to load page:", response.status_code)

Title: A Light in the Attic | Price: Â£51.77 | Rating: Three
Title: Tipping the Velvet | Price: Â£53.74 | Rating: One
Title: Soumission | Price: Â£50.10 | Rating: One
Title: Sharp Objects | Price: Â£47.82 | Rating: Four
Title: Sapiens: A Brief History of Humankind | Price: Â£54.23 | Rating: Five
Title: The Requiem Red | Price: Â£22.65 | Rating: One
Title: The Dirty Little Secrets of Getting Your Dream Job | Price: Â£33.34 | Rating: Four
Title: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull | Price: Â£17.93 | Rating: Three
Title: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics | Price: Â£22.60 | Rating: Four
Title: The Black Maria | Price: Â£52.15 | Rating: One
Title: Starving Hearts (Triangular Trade Trilogy, #1) | Price: Â£13.99 | Rating: Two
Title: Shakespeare's Sonnets | Price: Â£20.66 | Rating: Four
Title: Set Me Free | Price: Â£17.46 | Rating: Five
Title: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1) | Price: Â£52.29 | Rating: Five
Title: Rip it Up and Start Again | Price: Â£35.02 | Rating: Five
Title: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991 | Price: Â£57.25 | Rating: Three
Title: Olio | Price: Â£23.88 | Rating: One
Title: Mesaerion: The Best Science Fiction Stories 1800-1849 | Price: Â£37.59 | Rating: One
Title: Libertarianism for Beginners | Price: Â£51.33 | Rating: Two
Title: It's Only the Himalayas | Price: Â£45.17 | Rating: Two
Failed to load page: 200

In [49]:
import pandas as pd

In [50]:
book_data = []

In [51]:
for book in books:
    title = book.h3.a["title"]
    price = book.find("p", class_="price_color").text
    rating = book.p["class"][1]
    book_data.append({"Title": title, "Price": price, "Rating": rating})

In [52]:
df = pd.DataFrame(book_data)
print(df.head(20))

                                                Title    Price Rating
0                                A Light in the Attic  Â£51.77  Three
1                                  Tipping the Velvet  Â£53.74    One
2                                          Soumission  Â£50.10    One
3                                       Sharp Objects  Â£47.82   Four
4               Sapiens: A Brief History of Humankind  Â£54.23   Five
5                                     The Requiem Red  Â£22.65    One
6   The Dirty Little Secrets of Getting Your Dream...  Â£33.34   Four
7   The Coming Woman: A Novel Based on the Life of...  Â£17.93  Three
8   The Boys in the Boat: Nine Americans and Their...  Â£22.60   Four
9                                     The Black Maria  Â£52.15    One
10     Starving Hearts (Triangular Trade Trilogy, #1)  Â£13.99    Two
11                              Shakespeare's Sonnets  Â£20.66   Four
12                                        Set Me Free  Â£17.46   Five
13  Scott Pilgrim's Precious Little Life (Scott Pi...  Â£52.29   Five
14                          Rip it Up and Start Again  Â£35.02   Five
15  Our Band Could Be Your Life: Scenes from the A...  Â£57.25  Three
16                                               Olio  Â£23.88    One
17  Mesaerion: The Best Science Fiction Stories 18...  Â£37.59    One
18                       Libertarianism for Beginners  Â£51.33    Two
19                            It's Only the Himalayas  Â£45.17    Two

In [ ]:
# Save to CSV

In [54]:
df.to_csv(r"C:\Users\Hazo\Documents\books.csv", index=False)

In [56]:
df

                                                Title    Price Rating
0                                A Light in the Attic  Â£51.77  Three
1                                  Tipping the Velvet  Â£53.74    One
2                                          Soumission  Â£50.10    One
3                                       Sharp Objects  Â£47.82   Four
4               Sapiens: A Brief History of Humankind  Â£54.23   Five
5                                     The Requiem Red  Â£22.65    One
6   The Dirty Little Secrets of Getting Your Dream...  Â£33.34   Four
7   The Coming Woman: A Novel Based on the Life of...  Â£17.93  Three
8   The Boys in the Boat: Nine Americans and Their...  Â£22.60   Four
9                                     The Black Maria  Â£52.15    One
10     Starving Hearts (Triangular Trade Trilogy, #1)  Â£13.99    Two
11                              Shakespeare's Sonnets  Â£20.66   Four
12                                        Set Me Free  Â£17.46   Five
13  Scott Pilgrim's Precious Little Life (Scott Pi...  Â£52.29   Five
14                          Rip it Up and Start Again  Â£35.02   Five
15  Our Band Could Be Your Life: Scenes from the A...  Â£57.25  Three
16                                               Olio  Â£23.88    One
17  Mesaerion: The Best Science Fiction Stories 18...  Â£37.59    One
18                       Libertarianism for Beginners  Â£51.33    Two
19                            It's Only the Himalayas  Â£45.17    Two